html, body 
{
  height: 100%;
}

body 
{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin 
{
  width: 100%;
  max-width: 300px;
}

/* bootstrap */
.btn-outline-primary 
{
  border-color: #31D2F2 !important;
  color: #31D2F2 !important;
}
.btn-outline-primary:hover 
{
  transition: background-color 0.25s;
  background-color: #31D2F2 !important;
  color: white !important;
}