/* parser config for fromPMCID.php script */
/* Lines starting with /* are skipped */
/* pattern<_>replacement */
/* <_> as separate string */
/* links*/
src="/pmc/articles<_>(target="_BLANK" src="https://www.ncbi.nlm.nih.gov/pmc/articles)
href="/pmc/articles<_>target="_BLANK" href="https://www.ncbi.nlm.nih.gov/pmc/articles
href="/pubmed/<_>target="_BLANK" href="https://pubmed.ncbi.nlm.nih.gov/
href="/core/<_>target="_BLANK" href="https://www.ncbi.nlm.nih.gov/core/
href="/nuccore/<_>target="_BLANK" href="https://www.ncbi.nlm.nih.gov/nuccore/
src="/corehtml/pmc/pmcgifs/corrauth.gif"<_>src="https://www.ncbi.nlm.nih.gov/corehtml/pmc/pmcgifs/corrauth.gif"
<hr>'<_> 
<a href="#" rid="data-suppmats" data-ga-action="click_feat_toggler" data-ga-label="Supplementary Materials" class="pmctoggle">Supplementary Materials</a><_> 
style="display: none;"<_> 
/* tags */
id="ABS<_>id="idm
id="Abs<_>id="idm
id="abs<_>id="idm
id="ref1<_>id="idm
id="ref2<_>id="idm
id="ref3<_>id="idm
id="sec<_>id="s
id="__sec<_>id="s
id="Sec<_>id="s
id="__Sec<_>id="s
id="S<_>id="s